################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AISamples/FileContentIndex/45d1ca28-05f3-4da1-a2d2-09c275086f62.vsidx
/.vs/AISamples/FileContentIndex/9e75cf1e-6b25-4551-a672-961532174134.vsidx
/.vs/AISamples/FileContentIndex/b7bd1913-2993-42b6-96e5-d138cb798e50.vsidx
/.vs/AISamples/FileContentIndex/d6182620-fb9c-4d6a-839a-7d20ace2d68a.vsidx
/.vs/AISamples/FileContentIndex/3c104224-98fa-436c-a32d-7c68eda0f588.vsidx
/.vs/AISamples/FileContentIndex/d05d014c-9c6c-4600-90af-7e7b225fa19d.vsidx
/.vs/AISamples/FileContentIndex/f7e939eb-6590-4576-a9d0-862b70030e7b.vsidx
